<!-- <table class="table">
        <tr>
            <th>ID Number</th>
            <th>Name</th>
            <th>EmailId</th>
            <th>Phonenumber</th>
            <th>Country</th>
            <th>State</th>
            <th>Skills</th>
        </tr>
        <tr *ngFor='let o of table'>
            <td>{{o.id}}</td>
            <td>{{o.fname}}</td>
            <td>{{o.email}}</td>
            <td>{{o.phonenumber}}</td>
            <td>{{o.country}}</td>
            <td>{{o.state}}</td>
            <td>{{o.skill}}</td>
        </tr>
    </table> -->